.ft_Entitle{
    font-size: 0.28rem;
    color: #0066b3;
    font-family: "DIN";
    text-align: center;
    margin-top: 0.28rem;
    letter-spacing: -1px;
}
.ft_Cntitle{
    text-align: center;
    font-size: 0.24rem;
    color: #000000;
    font-weight: normal;
    font-family: "微软雅黑";
    margin-left: 0.1rem;
    margin-bottom: 0.045rem;
}
.in_main .in_title{
    font-size: 0.2rem;
    line-height: 0.3rem;
    color: #000;
}
.in_main p{
    font-size: 0.16rem;
    line-height: 0.25rem;
    letter-spacing: 1px;
}
.in_condition{
    margin-bottom: 0.1rem;
}
.in_phone{
    margin-bottom: 0.3rem;
}
.in_phone .in_pNum{
    font-size: 0.17rem;
    line-height: 0.2rem;
}